@media only screen and (max-width: 770px) {

    .desc {
        flex-direction: column-reverse;
        align-items: center;
        text-align: justify;
        padding: 10px;
    }


    #intro {
        width: 100%;
    }
    .imgprofil1 {
        width: 100%;
        height: 400px;
    }
    .imgprofil1 img {
        width: 100%;
    }

    .parcours {
        flex-direction: column;
        align-items: center;
    }
    .parcours > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
.accueil h1 {
    font-size: large;
    text-align: center;
    font-family: monospace;
    color: rgb(154, 145, 175);
}

.desc {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    animation: float-section 1s ease-in-out;
}
.imgprofil1 {
    height: 400px;
    position: relative;
    background: linear-gradient(to right, rgb(6, 9, 24), rgb(6, 64, 111));
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    box-shadow:0px 0px 25px 15px rgba(7, 113, 199, 0.776);
}
.imgprofil1 img {
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    width: 100%;
    height: 100%;
}
#intro {
    font-size: 15px;
    margin: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    word-spacing: 3px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
#intro h3 {
    font-size: 30px;
    line-height: 1.5;
}
#intro p {
    margin-bottom: 20px;
    font-size: 13px;
}
.profils-utils {
    display: flex;
    gap: 20px;
}
.profils-utils a {
    display: inline-block;
    animation: jump 4s infinite ease-in-out;
    transition: 0.3s;
}
.profils-utils a i {
    color: #ffffff;
    transform: scale(1);
    transition: 0.3s;
}
.profils-utils a i:hover {
    color: #2187d1;
    transform: scale(1.3);
}
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.profils-utils a:nth-child(1) {
    animation-delay: 0s;
}

.profils-utils a:nth-child(2) {
    animation-delay: 0.5s;
}

.profils-utils a:nth-child(3) {
    animation-delay: 1s;
}

.profils-utils a:nth-child(4) {
    animation-delay: 1.5s;
}
.liens-utils {
    display: flex;
    gap: 20px;
}
.liens-utils a {
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.liens-utils a:first-child {
    color: #ffffff;
    background-color: #2187d1;
    border-radius: 5px;
}
.liens-utils a:first-child:hover {
    color: #2187d1;
    background-color: #ffffff;
}
.liens-utils a:last-child {
    color: #2187d1;
    border: 1px solid #2187d1;
    border-radius: 5px;
}
.liens-utils a:last-child:hover {
    color: #ffffff;
    background-color: darkcyan;
    border: solid darkcyan 1px;
}
#toggleButton {
    cursor: pointer;
    color: rgb(52, 149, 228);
}
#toggleButton:hover {
    text-decoration: underline;
}
#hiddenText {
    display: none;
}

/* Parcours */
.bloc-parcours {
    margin-top: 200px;
    animation: float-section 1s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #051223;
    box-shadow:0px 0px 70px 70px #051223;

}
.bloc-parcours h2, .bloc-competences h2, .bloc-projets h2 {
    position: relative;
    width: auto;
    text-align: center;
    color: #86a3c1;
    font-size: 30px;
    margin-bottom: 20px;
}
.bloc-parcours h2::after, .bloc-competences h2::after, .bloc-projets h2::after {
    position: absolute;
    content: "";
    top: 60px;
    left: 45%;
    bottom: 0;
    height: 3px;
    width: 10%;
    background-color: #86a3c1;
}
.parcours, .competences {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.parcours-item, .competence {
    cursor: pointer;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 6px;
    border-radius: 10px;
    background-color:rgb(18, 29, 60);
    transition: 0.3s;
}
.parcours-img, .competence-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-size: 100%;
    background-position: center;
    transition: background-size 0.3s;
}
.parcours-img:hover {
    background-size: 115%;
    background-position: center;
}
.details-parcours span, .details-competence span {
    font-size: 10px;
    background: linear-gradient(to right, rgb(58, 13, 54), rgb(73, 37, 129));
    padding: 5px;
    border-radius: 20px;
}
.details-parcours a, .details-competence a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.details-parcours span:hover, .details-competence span:hover {
    background: linear-gradient(to right, rgb(73, 37, 129), rgb(58, 13, 54));
    transition: 0.3s;
}
.parcours-item:nth-child(1) .parcours-img {
    background-image: url('https://blog.wanteddesign.fr/content/uploads/2021/05/development-webdesign-copie.jpg');
}
.parcours-item:nth-child(2) .parcours-img {
    background-image: url('https://blog.wanteddesign.fr/content/uploads/2021/05/development-webdesign-copie.jpg');
}
.parcours-item:nth-child(3) .parcours-img {
    background-image: url('https://blog.wanteddesign.fr/content/uploads/2021/05/development-webdesign-copie.jpg');
}

.bloc-competences {
    margin-top: 200px;
    animation: float-section 1s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    box-shadow:0px 0px 70px 70px #000000;
}

.bloc-projets {
    margin-top: 200px;
    animation: float-section 1s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1d2f41;
    box-shadow:0px 0px 70px 70px #1d2f41;
}
.projets {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.projet {
    cursor: pointer;
    align-items: center;
    margin: 20px;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 5px #0a051475;
}
.projet a {
    text-decoration: none;
    color: white;
}
.projet:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.projet:hover .details-projet {
    opacity: 0;

}
.projet-video {
    cursor: pointer;
    align-items: center;
    height: 350px;
    border-radius: 12px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projet-apercu {
    position: relative;
    height: 350px;
    width: auto;
    border-radius: 10px;
    transition: background-size 0.3s;
}
.details-projet {
    background-color: #081738d4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    text-align: center;
    opacity: 1;
    transition: 0.5s;
}
.projet-github a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #19496b;
    transition: 0.3s;
}
.projet-github a:hover {
    color: #19496b;
    background-color: #ffffff;
    transition: 0.3s;
}
#reviews {
    width: 100%;
    height: 100%;
    background-color: #1a57d2;
}

.Date {
    color: #84e9e2;
    font-style: italic;
    font-weight: bold;
}
.bloc p {
    color: #dae6e7ce;
}
.voir-plus {
    margin: 7px;
    display: block;
    width: 20px;
    text-align: end;
    text-decoration: none;
    color: #cdd5e5;
    transition: 0.3s;
}
.voir-plus:hover {
    transform: scale(1.1);
    color: #1a57d2;
    transition: 0.3s;    
}
.droite, .gauche {
    z-index: 1000;
    display: flex;
    position: absolute;
    background-color: #36405fa1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.3;
}
.droite:hover, .gauche:hover {
    background-color: #2187d1;
    transition: 0.3s;
    opacity: 1;
}
.droite {
    right: 10px;
    top: 45%;
}
.gauche {
    top: 45%;
    left: 10px;
}


/* avis des visiteurs */

/* Bouton flottant */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkcyan;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: width 0.3s, padding-right 0.3s;
    white-space: nowrap;
}
.floating-button .button-text {
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(20px);
    font-size: 14px;
    color: white;
}
.floating-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2187d1;
    transform: scale(1.1);
    width: auto;
    padding-right: 20px;
    border-radius: 20px;
}
.floating-button:hover .button-text {
    opacity: 1;
    transform: translateX(0);
}

.floating-button i {
    font-size: 24px;
    color: white;
    margin-left: 7px;
}


/* Bloc de commentaire flottant */
.review-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    background-color: #36405f9c;
    backdrop-filter: blur(30px);
    padding: 20px;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.765);
    display: block;
    z-index: 1000;
    width: 300px;
    border-radius: 8px;
}
.review-block.rbactive {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.review-block h2 {
    text-align: center;
    color: #c5e5f2;
}

.visiteurname {
    margin-bottom: 10px;
}

.visiteurname label {
    backdrop-filter: blur(40px);
    transition: transform 0.3s;
    position: absolute;
    color: #b3d1e8;
    left: 10%;
    margin: 5px;
}

.visiteurname input {
    background-color: rgba(56, 61, 96, 0.742);
    box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.765);
    width: 95%;
    border-radius: 5px;
    border: solid rgb(175, 166, 166) 1px;
    padding: 5px;
    height: 20px;
    color: white;
}

.visiteurname input:focus {
    border-color: rgba(17, 210, 188, 0.792);
    outline: none;
}
.visiteurname input:focus + label {
    transform: translate(-10px, -15px) scale(0.8);
    transition: transform 0.3s;
}
.evaluation {
    margin: 10px;
}

/* Étoiles */
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.stars input:checked ~ label,
.stars label:hover,
.stars input[type="radio"]:checked ~ label ~ label,
.stars label:hover ~ label {
    color: orange;
}

.comment label {
    backdrop-filter: blur(40px);
    transition: transform 0.3s;
    position: absolute;
    color: #b3d1e8;
    left: 10%;
    margin: 5px;
}
.comment textarea {
    resize: vertical;
    background-color: rgba(56, 61, 96, 0.742);
    box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.765);
    width: 95%;
    border: solid rgb(175, 166, 166) 1px;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    color: white;
    font-family: sans-serif;
}
.comment textarea:focus {
    border-color: rgba(17, 210, 188, 0.792);
    outline: none;
}
.comment textarea:focus + label {
    transform: translate(-10px, -15px) scale(0.8);
    transition: transform 0.3s;
}

#submit {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 210px;
    border: none;
    color: white;
    background-color: #455a73;
    transition: 0.3s;
}
#submit:hover {
    background-color: rgba(17, 210, 188, 0.792);
}

/* Bouton de fermeture */
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: none;
}
.close-button i {
    transition: 0.3s;
    font-size: 30px;
    font-weight: bold;
}
.close-button i:hover {
    color: red;
    transition: 0.3s;
}

/* Affichage des avis */

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 5px;
}

.review h4 {
    margin: 0;
}
.review h4 small {
    color: #555;
}

.review span {
    margin: 5px 0;
    font-size: 14px;
    color: #5579b0;
}
.review span small {
    color: orange;
}
.delete-review {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.delete-review:hover {
    color: red;
}
.no-reviews p {
    color: #555;
    text-align: center;
    margin-top: 50px;
}
