@media only screen and (max-width: 770px) {

    .desc {
        flex-direction: column-reverse;
        align-items: center;
        text-align: justify;
    }


    #intro {
        width: 100%;
    }
    .imgprofil1 {
        width: 100%;
        height: 400px;
    }
    .imgprofil1 img {
        width: 100%;
    }
}
.accueil h1 {
    font-size: large;
    text-align: center;
    font-family: monospace;
    color: rgb(154, 145, 175);
}

.desc {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #2a2d4875;
    animation: float-section 1s forwards;
}
.imgprofil1 {
    height: 400px;
    position: relative;
    background: linear-gradient(to right, rgb(6, 9, 24), rgb(6, 64, 111));
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.765);
}
.imgprofil1 img {
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    width: 100%;
    height: 100%;
}
#intro {
    font-size: 15px;
    margin: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    word-spacing: 3px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
#intro h3 {
    font-size: 30px;
    line-height: 1.5;
}
#intro p {
    margin-bottom: 20px;
    font-size: 13px;
}

.savoir-plus {
    margin-top: 60px;
    text-align: end;
    background-color: #06696ece;
    padding: 10px;
    width: 140px;
    transition: 0.3s;
}
.savoir-plus a {
    text-decoration: none;
    color: aliceblue;
}
.savoir-plus:hover {
    background-color: #2187d1;
    transition: 0.3s;
}

#toggleButton {
    cursor: pointer;
    color: rgb(52, 149, 228);
}

#toggleButton:hover {
    text-decoration: underline;
}

#hiddenText {
    display: none;
}


.a-la-une {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: auto;
    margin-top: 100px;
    align-items: start;
}

.a-la-une h2 {
    margin: 0%;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #292d30;
    border-bottom: solid rgb(96, 104, 120) 1px;
    
}

.news {
    width: 100%;
    background-color: #3f425e81;
    flex-grow: 2;
}

.news-container {
    background-color: #2e314f75;
    position: relative;
    width: auto;
}

.blocs-news-container {
    padding: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
}
.bloc {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    min-height: 300px;
    min-width: 35%;
    text-decoration: none;
    color: antiquewhite;
    background-size: 120%;
    transition: 0.5s;
    background-position: center;
    border-radius: 5px;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.765);
}

.bloc:hover {
    background-blend-mode: normal;
    background-size: 160%;
    transition: 0.5s; 
}
.bloc:hover i {
    opacity: 0;
}
.bloc i {
    opacity: 1;
    transition: opacity 0.5s ease;
    transform: rotate(90deg);
    font-size: 30px;
    color: #6ba6ea;
    position: absolute;
    top: -9%;
    left: 50%;
}
#bloc1 {
    background-image: url('https://img.freepik.com/vecteurs-premium/icone-mise-jour-signe-mise-niveau-du-logiciel-symbole-progression-mise-jour-icones-telechargement-application-couleur-noire-signe-vectoriel_913857-21.jpg') ;
}
#bloc2 {
    background-image: url('https://github.com/drbynz0/My_Web_Site/blob/master/formulaire.PNG');
}
#bloc3 {
    background-image: url('https://blog.wanteddesign.fr/content/uploads/2021/05/development-webdesign-copie.jpg');
}
#bloc4 {
    background-image: url('https://blog.wanteddesign.fr/content/uploads/2021/05/development-webdesign-copie.jpg');
}

.bloc div {
    position: absolute;
    bottom: -40%;
    transition: bottom 0.5s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    background-color: #35405e98;
    backdrop-filter: blur(25px);
    height: 150px;
    padding: 5px;
}

.bloc:hover div {
    bottom: 0; /* Affiche le contenu lors du survol */
}

#reviews {
    width: 100%;
    height: 100%;
    background-color: #1a57d2;
}

.Date {
    color: #555;
    font-style: italic;
    margin: 7px;
}
.bloc p {
    color: #dae6e7ce;
}
.voir-plus {
    margin: 7px;
    display: block;
    width: 20px;
    text-align: end;
    text-decoration: none;
    color: #cdd5e5;
    transition: 0.3s;
}
.voir-plus:hover {
    transform: scale(1.1);
    color: #1a57d2;
    transition: 0.3s;    
}
.droite, .gauche {
    z-index: 1000;
    display: flex;
    position: absolute;
    background-color: #36405fa1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.3;
}
.droite:hover, .gauche:hover {
    background-color: #2187d1;
    transition: 0.3s;
    opacity: 1;
}
.droite {
    right: 10px;
    top: 45%;
}
.gauche {
    top: 45%;
    left: 10px;
}


/* avis des visiteurs */

/* Bouton flottant */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkcyan;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: width 0.3s, padding-right 0.3s;
    white-space: nowrap;
}
.floating-button .button-text {
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(20px);
    font-size: 14px;
    color: white;
}
.floating-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2187d1;
    transform: scale(1.1);
    width: auto;
    padding-right: 20px;
    border-radius: 20px;
}
.floating-button:hover .button-text {
    opacity: 1;
    transform: translateX(0);
}

.floating-button i {
    font-size: 24px;
    color: white;
    margin-left: 7px;
}


/* Bloc de commentaire flottant */
.review-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    background-color: #36405f9c;
    backdrop-filter: blur(30px);
    padding: 20px;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.765);
    display: block;
    z-index: 1000;
    width: 300px;
    border-radius: 8px;
}
.review-block.rbactive {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.visiteurname {
    margin-bottom: 10px;
}

.visiteurname input {
    width: 95%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    height: 20px;
}

/* Étoiles */
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.stars input:checked ~ label,
.stars label:hover,
.stars input[type="radio"]:checked ~ label ~ label,
.stars label:hover ~ label {
    color: orange;
}

.comment textarea {
    width: 95%;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
}

#submit {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    color: white;
    background-color: #2c78d4;
}
#submit:hover {
    background-color: #2c4b8f;
    transition: 0.3s;
}

/* Bouton de fermeture */
.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: none;
}
.close-button i {
    transition: 0.3s;
    font-size: 30px;
    font-weight: bold;
}
.close-button i:hover {
    color: red;
    transition: 0.3s;
}

/* Affichage des avis */

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 5px;
}

.review h4 {
    margin: 0;
}
.review h4 small {
    color: #555;
}

.review span {
    margin: 5px 0;
    font-size: 14px;
    color: #5579b0;
}
.review span small {
    color: orange;
}
.delete-review {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.delete-review:hover {
    color: red;
}
.no-reviews p {
    color: #555;
    text-align: center;
    margin-top: 50px;
}
